	
			<div class="header-top">
				<div class="header-t-right">
					<a href="http://localhost:2333/html/log.html">登录</a>
					<b>/</b>
					<a href="http://localhost:2333/html/register.html">注册</a>
					<span>
						<img src="/img/a1.jpg" />
						<a href="javascript:;">微信</a>
						<div class="weixin">
						</div>
					</span>
					
				</div>
				<div class="header-content">
					<div class="header-cont-top">
						<div class="header-cont-t-left">
							<img src="" />
							<span>成都</span>
							<a href="#">查询地址是否可配送</a>
						</div>
						<div class="header-cont-t-center">
							<a></a>
						</div>
						<div class="header-cont-t-right">
							<input type="text" placeholder="雪域牛乳芝士"/>
							<span>
								<img src="/img/search.jpg" />
							</span>
							<span>
								<img src="/img/car.jpg" />
							</span>
						</div>
						
					</div>
					<div class="header-cont-bottom">
						<ul>
							<li><a href="http://localhost:2333">首页</a></li>
							<li><a href="http://localhost:2333/html/L.html">蛋糕</a></li>
							<li><a href="http://localhost:2333/html/tu.html">吐司</a></li>
							<li><a href="javascript:;">礼品</a></li>
							<li><a href="javascript:;">企业专区</a></li>
							<li><a href="javascript:;">我的诺心</a></li>
						</ul>
					</div>
				</div>
			</div>
